
{% load static %}
<! Doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:200px;
}
</style>
</head>
<body>
<span style="margin-left:auto">
<img src="{% static 'img/success.png'%}" class="center">
</span>
<article class="text text-success" style="text-align: center;">Thanks For Confirm Your Imformations </article><br>


<hr>
<p class="text text-secondary" style="text-align:center">
PayPal 1999-2021
</p>
</body>
</html>